#main-navbar{
	background-color: blue;
	overflow: hidden;
}

#navbar-container{
	float: left;
	position: relative;
	width: 100%;
}

#main-navbar ul{
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
  position: relative;
	left: 50%;
}

#navbar-container ul li{
	position: relative;
	float: left;
  right: 50%;
}

#navbar-container ul li a{
  display: block;
	float: left;
	text-decoration: none;
	padding: 10px 20px;
	color: #F97A09;
}

#navbar-container ul li a:hover{
	text-decoration: underline overline;
	display: block;
	background-color: #F6F909;
}

#sidebar{
	position: fixed;
	background-color: red;
	right: 0%;
	width: 20%;
	height: 100%;
}

#sidebar-container ul{
	list-style-type: none;
	text-align: center;
	margin-top: 0px;
	padding: 15px 0;
}

#sidebar-container ul li a
{
    display: block;
    padding: 15px 0;
    color: #F97A09;
    text-decoration: none;
}
#sidebar-container ul li a:hover
{
    background-color: #09F9E3;
}
#sidebar-container a{
	text-decoration: none;
}
